body{                                    
	font-family: "arial", 400;
	margin: 0;
	padding: 0;
	background-color: white;
}

header {
	text-align: center;
	font-family: "Tahoma", 700;
	color: white;
	padding: 10px;
	background-color: rgb(7, 7, 49);
}

main{
	font-size: 20px;
	display: flex;
	position: relative;
	margin: 0px 18px;
	margin-right: 0px;
	margin-top: -10px;
}

h1{
	font-family: "Tahoma", 700;
	font-size: 45px;
	text-decoration: underline;
}

a{
	display: inline-block;
	padding: 20px;
	color: white;
	font-size: 25px;
	text-decoration: none;
}

nav{
	padding: auto;
	margin: auto;
}

h2{
	font-family: "Tahoma", 700;
	font-size: 30px;
	text-decoration: underline;
}

a:hover{
	background-color: red;
}

ul li{
	list-style: "- ";
	padding: 0;
}

.line_up{
	float: right;
	text-align: left;
	background-color: rgb(10, 10, 115);
	color: white;
	width: 600px;
	height: 450px;
	margin: 20px;
	padding: 20px;
}

p{
	font-size: 20px;
}

footer{
	background-color: rgb(109, 28, 162);
	font-family: "Tahoma" 700;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 20px;
}
