body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.colours {
    margin-top: 50px;
}

h1{
    padding: 20px;
    margin: auto;
    width: 60%;
    background-color: #dc702d;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,  0, 0, 0.3);
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#rgb {
    margin: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

#options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}

.option {
    margin: 0 10px;
    padding: 50px 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e0e0e0;
}

#feedback {
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
}

#restart-btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    align-items: center;
    align-content: center;
}
